@model Darbuotojas
@{
    ViewData["Title"] = "Panaikinti darbuotoja";
}

@using (Html.BeginForm("PanaikinkDarbuotoja", "Darbuotojai", FormMethod.Post))
{
    // Id reikalingas perduoti į Post metoda
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Vardas", "Vardas", new { @class = "control-label" })
        @Html.EditorFor(m => m.Vardas, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group">
        @Html.Label("Pavarde", "Pavardė", new { @class = "control-label" })
        @Html.EditorFor(m => m.Pavarde, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group">
        @Html.Label("GimimoData", "Gimimo Data", new { @class = "control-label" })
        @Html.EditorFor(m => m.GimimoData, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group">
        @Html.Label("Adresas", "Adresas", new { @class = "control-label" })
        @Html.EditorFor(m => m.Adresas, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group">
        @Html.Label("Pareigos", "Užimamos pareigos", new { @class = "control-label", @disabled = "disabled" })
        @foreach (var pareiga in ViewBag.VisosPareigos)
        {
            if (pareiga != null)
            {
                if (Model != null && Model.Pareigos.Contains(pareiga))
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Pareigos" value="@pareiga.Id" checked disabled /> @pareiga.Pareigos
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Pareigos" value="@pareiga.Id" disabled /> @pareiga.Pareigos
                        </label>
                    </div>
                }
            }
        }
    </div>
    <button type="submit" class="btn btn-danger">Panaikinti</button>
    @Html.ActionLink("Gryžti", "Pradzia", "Darbuotojai", null, new {@class="btn btn-secondary"})
}