@model IEnumerable<Darbuotojas>
@{
    ViewData["Title"] = "Darbuotojai";
}
<div class="text-center">
    <h1 class="display-4">Darbuotojai</h1>
</div>
<div>
    <h4>Duomenų filtras</h4>
</div>
@using (Html.BeginForm("Pradzia", "Darbuotojai", FormMethod.Get))
{
    <div class="form-group">
        <Label>Statusas:</Label>
        <label>@Html.CheckBox("aktyvus", new { htmlAttributes = new {@class = "form-control"}}) Aktyvūs</label>
        <label>@Html.CheckBox("neaktyvus", new { htmlAttributes = new {@class = "form-control"}}) Neaktyvūs</label>
    </div>
    <div class="form-group">
        <Label>Paieška:</Label>
        @Html.TextBox("paieskosUzklausa", null, new {pradinisIrasas = "Ieškoti..."})
        @Html.DropDownList("paieskosKategorija", ViewBag.PaieskosPavadinimai as SelectList)
    </div>
    <div class="form-group">
        <input type="submit" value="Filtruoti" class="btn btn-primary btn-sm" />
    </div>
}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Vardas", "Pradzia", "Darbuotojai", 
                new {rusiavimoTipas = ViewBag.VardoRusiavimoParam}, 
                new {@class="rusiavimo-linkas"})
            </th>
            <th>
                @Html.ActionLink("Pavardė", "Pradzia", "Darbuotojai", 
                new {rusiavimoTipas = ViewBag.PavardesRusiavimoParam}, 
                new {@class="rusiavimo-linkas"})
            </th>
            <th>
                @Html.ActionLink("Gimimo Data", "Pradzia", "Darbuotojai", 
                new {rusiavimoTipas = ViewBag.DatosRusiavimoParam}, 
                new {@class="rusiavimo-linkas"})
            </th>
            <th>
                @Html.ActionLink("Adresas", "Pradzia", "Darbuotojai", 
                new {rusiavimoTipas = ViewBag.AdresoRusiavimoParam}, 
                new {@class="rusiavimo-linkas"})
            </th>
            <th>Pareigos</th>
            <th>
                @Html.ActionLink("Statusas", "Pradzia", "Darbuotojai", 
                new {rusiavimoTipas = ViewBag.StatusoRusiavimoParam}, 
                new {@class="rusiavimo-linkas"})
            </th>
            <th>Valdymas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Vardas</td>
                <td>@obj.Pavarde</td>
                <td>@obj.GimimoData.ToString("yyyy-MM-dd")</td>
                <td>@obj.Adresas</td>
                <td>@foreach (var pareiga in obj.Pareigos)
                    {
                        <span>@pareiga.Pareigos</span><br />
                    }
                </td>
                <td>@if(obj.Statusas == 1)
                    {
                        <span style="color:forestgreen">Aktyvus</span>
                    }
                    else
                    {
                        <span style="color:darkred">Neaktyvus</span>
                    }
                </td>
                <td style="width:20%">
                    @Html.ActionLink("Redaguoti", "GaukRedaguojamaDarbuotoja", "Darbuotojai", new {obj.Id}, new {@class="btn btn-warning"})
                    @Html.ActionLink("Panaikinti", "GaukPanaikinamaDarbuotoja", "Darbuotojai", new {obj.Id}, new {@class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Pridėti darbuotoja", "GaukSukuriamaDarbuotoja", "Darbuotojai", null, new {@class="btn btn-primary"})