@model Darbuotojas
@{
    ViewData["Title"] = "Pridėti darbuotoja";
}
@using (Html.BeginForm("Sukurti", "Darbuotojai", FormMethod.Post))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Vardas, new { @class = "control-label" })
        @Html.EditorFor(m => m.Vardas, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pavarde, new { @class = "control-label" })
        @Html.EditorFor(m => m.Pavarde, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GimimoData, new { @class = "control-label" })
        @Html.EditorFor(m => m.GimimoData, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Adresas, new { @class = "control-label" })
        @Html.EditorFor(m => m.Adresas, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pareigos, new { @class = "control-label" })
        @foreach (var pareiga in ViewBag.VisosPareigos)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="Pareigos" value="@pareiga.Id" /> @pareiga.Pareigos
                </label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Pridėti</button>
    @Html.ActionLink("Gryžti", "Pradzia", "Darbuotojai", null, new {@class="btn btn-secondary"})
}